{{> head}} {{> navbar }}

<div class="row">
    <div class="col-8">
        <h3>title</h3>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, quas. Cupiditate repudiandae qui veritatis, veniam numquam laudantium quo nobis similique nihil, quam assumenda quaerat accusantium soluta neque hic inventore quasi?
        </p>
    </div>
    <div class="col-4">
        <img src="./assets/img/img.jpg" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer }}